body {
    background-color: #f4e4bc;
    font-family: Arial;
    padding: 60px;
}

h1 {
    color: #d35400;
    font-size: 48px;
    text-align: center;
}

img {
    width: 400px;
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}